---
layout: main
---

<div class="wrapper">
  <header>
    <div class="logo-container">
      <a class="logo" href="{{ page.baseurl }}">
        {% image logo.png class: "logo" %}
      </a>
    </div>
    {% if site.compass.title %}
    <div class="author-container">
      <h1>{{ site.compass.title }}</h1>
    </div>
    {% endif %}
    <div class="tagline-container">
      <p>Client-Side thinking in bad English (and Spanish)</p>
    </div>
  </header>
  <main>
    <div class="content">
      {% include blog/post.html %}
    </div>
  </main>
</div>
