
<p>I am a full time explorer from Santiago de Compostela doing an internship at <a href="http://cyberspace.com.mt/">Cyberspace Solutions.</a>
        </br>
    </p>These are some of the things I have been doing lately:</p>

<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
        <a href="https://github.com/gonzaloiv">GitHub</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-codepen fa-lg main-list-item-icon"></span>
        <a href="http://tumblr.io/gonzaloiv/public/">CodePen</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
        <a href="http://http://oneofthosethingsfirst.tumblr.com/">Sketchbook</a>
    </li>
    <li class="main-list-item">
        <span>Projects: </span>
        <a href="http://audiobeesual.com/">Audiobeesual, </a>
        <a href="http://http://www.ilovefood.com.mt/">ilovefood.com.mt</a>
        <a href="http://mcritica.com/gonzaloiv/_dicto/">Dicto</a>
        <a href="http://mcritica.com/gonzaloiv/_weather_report/">Weather Report</a>
    </li>
</ul>
<hr />
<p>Contact me at <a href="aelthalion@gmail.com">aelthalion@gmail.com</a> or take a look at my <a class= main-list-item href="./cv.pdf">CV</a>.</p>
