<h2>About me</h2>
<p>I am a culture explorer from Santiago de Compostela. You can take a look of what I have doing lately:</p>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/gonzaloiv">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-codepen fa-lg main-list-item-icon"></span>
    <a href="http://tumblr.io/gonzaloiv/public/">CodePen</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="http://http://oneofthosethingsfirst.tumblr.com/">Sketches, pictures, designs...</a>
  </li>
  <li class="main-list-item">
    <a href="http://excentris.net">CV</a>
  </li>
</ul>
<hr />
<p>Contact me at aelthalion@gmail.com or </p>