body {
  font-family: $serif;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $background-color;
}

header,
main {
  padding: 0 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $anchor-text-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.colored {
  color: $anchor-text-color;
}

/*** Main Wrapper ***/

.wrapper {
  margin: 75px auto 0 auto;
}

/*** Language Selector ***/

.language-selector {
  text-align: right;
  margin-top: 60px;
}


/*** Media Queries ***/


/* X-Small devices (phones, 480px and up) */

@media (min-width: 480px) {
  /* wrapper stays 480px wide past 480px wide and is kept centered */
  .wrapper {
    width: 450px;
  }
}


/* All other devices (768px and up) */

@media (min-width: 768px) {
  .wrapper {
    width: 680px;
  }
  header {
    float: left;
    width: 40%;
    text-align: right;
  }
  main {
    width: 40%;
    margin-left: 50%;
    padding: 0;
  }
}
