$text-color: #4A4A4A;
$anchor-text-color: #CE534D;
$background-color: white;
$serif: 'Neuton', serif;
$sans-serif: 'Oswald', sans-serif;

@import
'normalize',
'font-awesome-sprockets',
'font-awesome',
'index'
