{% t about_me.description %}
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/gonzaloiv">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-codepen fa-lg main-list-item-icon"></span>
    <a href="http://codepen.io/gonzaloiv/public">CodePen</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="http://oneofthosethingsfirst.tumblr.com">Sketchbook</a>
  </li>
  {% if site.lang == "es" %}
    <li class="main-list-item">
      <span class="fa fa-eye fa-lg main-list-item-icon"></span>
      <a href="{{ '/blog.html' | prepend: site.baseurl }}">Blog</a>
    </li>
  {% endif %}
  <li class="main-list-item">
    <span>Projects: </span>
    <a href="http://audiobeesual.com">Audiobeesual, </a>
    <a href="http://ilovefood.com.mt">ilovefood.com.mt, </a>
    <a href="http://gestoresderesiduos.org">Gestores de Residuos</a>
  </li>
</ul>
<hr>
<p>
  Contact me at <a href="mailto:aelthalion@gmail.com">aelthalion@gmail.com</a> or take a look at my <a href="{% t about_me.cv_link %}">CV</a>.
</p>