body {
  background-color: $background-color;
  color: $main-text-color;
  font-size: $base-font-size;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $hover-link-color;
}

b {
  font-weight: 700;
}

main {
  padding-top: 8rem;
  padding-right: calc(50% - 19.1688rem);
  padding-left: calc(50% - 19.1688rem);
}

nav {
  word-spacing: 1rem;
  font-family: $sans-serif;
  border-bottom: 2px solid $gray-text-color;
  padding-bottom: .6rem;
}

section {
  font-family: $serif;
  margin-top: 1.2rem;
  min-height: 26rem;
}

section h1 {
  font-size: $base-font-size * 1.1;
  font-family: $sans-serif, sans-serif;
  line-height: $p-line-height * 1.2;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

section h3 {
  font-weight: 400;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

section h4 {
  font-family: $sans-serif, sans-serif;
  text-transform: uppercase;
  margin-top: 1.2rem;
  margin-bottom: 0.1rem;
}

section h4 a {
  color: $main-text-color;
  text-decoration: underline;
}

section h4 a:hover {
  color: $link-color;
}

section p {
  line-height: $p-line-height;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

section small {
  font-family: $serif;
}

footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

footer small {
  font-size: $base-font-size * 0.45;
  font-family: $sans-serif;
  color: $gray-text-color;
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  main {
    padding-top: 7rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }
  footer {
    right: 1.4rem;
  }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}