// Alignment
.pull-right {
	text-align: right;
	float: right;
}

.pull-left {
	text-align: left;
	float: left;
}

.pull-center {
	text-align: center;
}

.pd-top {
	padding-top: 3.2rem;
}

@media only screen and (max-width: 480px) {
  .pd-top {
		padding-top: 0rem;
	}
}
