// Fonts

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant:500');

$sans-serif: 'Source Sans Pro', sans-serif;
$serif: 'Cormorant', serif;

$base-font-size: 1.6em;
$p-line-height: 1.1em;

// Colors

$background-color: #fdfdfd;

$main-text-color: #000000;
$gray-text-color: #666677;

$link-color: #F2A600;
$hover-link-color: #50E3C2;
